<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-list"></i> Historia lokalizacji
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body">
                            <div class="map" style="height: 800px;" id="map"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        var locations = /*[[${locations}]]*/ [];
        var map;
        var markers = [];
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: locations[0].latitude, lng: locations[0].longitude},
                zoom: 16
            });
            for(var i = 0; i< locations.length; i ++) {
                markers.push(new google.maps.Marker({position: {
                        lat: locations[i].latitude,
                        lng: locations[i].longitude
                    }, map: map}));
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnRzJfI42ukKb3_-nk_bYutGbTm2vfu1w&callback=initMap"></script>
</div>