<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bell-o"></i> Feed Example
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#" th:each="transaction, itr : ${transactions}">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong th:text="${transaction.amount}"></strong> posted a new article to
                            <strong>David Miller Website</strong>.
                            <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
