<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-list"></i> Historia transakcji
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" th:each="transaction, itr : ${transactions}">
                    <div class="media">
                        <div class="media-body">
                            Płatność dla
                            <strong th:text="${transaction.name}"></strong>
                            na kwotę
                            <strong th:text="${transaction.amount}"></strong> zł

                            <div class="date-cell" placeholder="YYYY-MM-DD" th:text="${transaction.transactionDate}"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
